* {
    font-family: "Open sans";
    text-decoration: none;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

h1{
    font-family: "Libre Baskerville";
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h5{
    font-size: 1.7em;
}

h2, h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Lobster";
}

.lui{
    margin-top: 150px;
}

/* Navigation */

header{
    position: sticky;
    padding: 30px;
}

/*Body*/
body{
  padding : 30px;
  margin: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 4rem;
}

.card {
  background: #fff;
  width: 500px;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 60px;
}

.card li{
    text-align: left;
    margin-bottom: 5px;
    list-style-type: none;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 100px;
  margin: 1.5rem auto 0;
  display: block;
}

.card-body {
  padding: 1rem;
}

.card-body p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #212529;
}

/* .card-body button {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
} */

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  background-color: #0d6efd;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #0b5ed7;
}


.card-body button:hover {
  background-color: #0b5ed7;
}



/*Footer*/
footer{
    /* background-color: rgb(247, 110, 69); */
    padding-top: 100px;
    text-align: center;
}

footer a{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: rgb(255, 201, 184);
    text-decoration: underline;
}

.bloc-footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloc-footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-footer{
    margin: 10px;
}

.logo-footer:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}