* {
    font-family: "Open sans";
    text-decoration: none;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

h1{
    font-family: "Libre Baskerville";
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

/* h4{
    font-size: 1.1em;
} */

h2, h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Lobster";
}

/* Navigation */

header{
    position: sticky;
    padding: 30px;
}

/*Body*/
body{
    padding : 30px;
}

p.separator{
    padding-top: 60px;
}

/*intérêts*/
.bloc-apropos1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* text-align: center; */
    padding: 40px 0;
    justify-content: space-around;
}

.bloc-apropos2{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.bloc-apropos2 h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.bloc-apropos2 p{
    padding: 20px;
}

.interet{
    display: block; 
    border-radius: 15%;
    margin: 0 auto 20px auto;
}



/*BTS*/
.options{
    display: flex;
    flex-direction: row;
}

.options p, h3 {
    text-align: center;
}

.option{
    max-width: 900px;
    padding: 20px;
}

.option ul{
    font-size: 1.1em;
}

.bloc-bts ul{
    text-align: center;
    padding: 50px;
}


.carousel-continu {
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(250%); /* on double la largeur pour la boucle */
  animation: defilement 30s linear infinite;
}

.carousel-track img {
  /* width: 100px; */
  height: 100px; /*ajuste selon la hauteur que tu veux */
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 40px; /* petit espace entre les images */
}

/* Animation douce et infinie */
@keyframes defilement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel-track::after {
  content: "";
  display: flex;
  width: 120%;
  background-image: inherit;
}





/*Footer*/
footer{
    /* background-color: rgb(247, 110, 69); */
    padding-top: 100px;
    text-align: center;
}

footer a{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: rgb(255, 201, 184);
    text-decoration: underline;
}

.bloc-footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloc-footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-footer{
    margin: 10px;
}

.logo-footer:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}