* {
    font-family: "Open sans";
    text-decoration: none;
}

p{
    font-size: 1.1em;
    line-height: 1.6;
    color: white;
}

h1{
    font-family: "Libre Baskerville";
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}


h2, h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Lobster";
    color: white;
}

li{
    color: white;
}

/* Navigation */

header{
    background-color: white;
    position: sticky;
    padding: 30px;
    margin-bottom: 100px;
}

.sep_nav{
    color: black;
}

/*Body*/

p.separator{
    padding-top: 60px;
}

.problematique{
    margin-left: 60px;
    font-size: 1.3em;
}

.bloc_body{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    color: white;
    
    
}

.bloc_body p{
    margin-right: 50px ;
}


body{
    padding : 30px;
    background: linear-gradient(135deg, #1d2671, #c33764);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgb(255, 255, 255);
  transition: all 0.6s ease;
}

.card p{
    color: black;
}

.articles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.sources{
    font-size: small;
    padding-top: 20px;
}

.lien_outils{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(-50px);
    padding-top: 50px;
}

.lien_outils a:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.date{
    font-size: small;
    color: gray;
}

.chaines_yt{
    padding-top: 100px;
}



/*Footer*/
footer{
    background-color: white;
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
}

footer a{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

footer p{
    color: black;
}

footer a:hover{
    color: rgb(255, 201, 184);
    text-decoration: underline;
}

.bloc-footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloc-footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-footer{
    margin: 10px;
}

.logo-footer:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}